.app-button {
    padding: 8px 20px;
    background: transparent;
    border-radius: 5px;
    transition: 0.25s;
    margin: 0 4px;



    &__primary{
      border: 2px solid $primary;
      &:hover,
      &:focus {
          background: $primary;
          border: 2px solid $primary;
          color: $on-primary;
      }
    }

    &__secondary{
      border: 2px solid $secondary;
      &:hover,
      &:focus {
          background: $secondary;
          border: 2px solid $secondary;
          color: $on-secondary;
      }
    }

    &__danger{
      border: 2px solid $error;
      &:hover,
      &:focus {
          background: $error;
          border: 2px solid $error;
          color: $on-error;
      }
    }
}
