<div class="app-page">
  <div class="app-flex">
    <div class="app-flex">
      <input class="checkbox" (change)="onCheckedChange($event, task.id)" type="checkbox"  />
      <div class="task-name">{{task.taskTitle}}</div>
    </div>
    <div>
      <button class="app-button app-button__primary" (click)="showDetail()" type="button">Detail</button>
      <button class="app-button app-button__danger" (click)="onRemove(task.id)" type="button">Remove</button>
    </div>
  </div>
  <app-task [mode]="'update'"  *ngIf="isShowDetail" [taskDetail]="task"></app-task>
</div>

